<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles2.css">
    <title>Document</title>
</head>
<body onload="load()">
    <form id="view" method="post">
    <div id="layer1">
        <div id="container1">
            <div id="box1">
                <div id="chatheader">Chats</div>
                <div id="lbreaker"></div>
                <div id="chatcontainer">
                </div>
            </div>    
        </div>
        <div id="ldivider"></div>
        <div id="container2">
            <div id="box2">
                <div onload="chat()" id="checkempty">

                    <div id="reload"> 
                    <h1 id="username"><%=username%></h1>
                    <h6 id="chats" style="display: none;"><%=row%></h6>
                    <h6 id="userId" style="display: none;"><%=userId%></h6>
                    <div id="chatdata"></div>
                    </div>
                    <input type="text" id="send" placeholder="enter the message" value="" style="cursor:pointer;">
                    <input type="button" name="send" value="send" onclick="sender()">
                </div>            
            </div> 
        </div>
    </div>
    <input type="text" id="create" placeholder="Create Chatroom">
        <button type="button" onclick="chatroom()">Create Chatroom</button>
        <h6 id="userI" style="display: none;"><%= userId %></h6>
        <button type="button" onclick="commonFunction('diary')">Diary</button>
        <button type="button" onclick="commonFunction('todo')">To Do</button>
        <div id="chat"></div>
</form>
    <h6 id="chatter" style="display: none;"><%= chatters %></h6>
    <h6 id="userId" style="display: none;"><%= userId %></h6>
    <h6 id="message" style="display: none;"><%= msg %></h6>
</body>


<script>
    function chatroom() {
            let username = document.getElementById("create").value;
            let userI = document.getElementById("userI").textContent; 
            document.getElementById("view").action = `/chatroom/create/${userI}/${username}`;
            document.getElementById("view").submit();
        }

        function commonFunction(type) {
            document.getElementById("view").action = `/create_tb/${type}`;
            document.getElementById("view").method = 'get';
            document.getElementById("view").submit();
        }
    function load()
    {   
        
        chatter=document.getElementById("chatter").textContent
        userId=document.getElementById("userId").textContent
        sp=chatter.split(",")
        let html=""
        for(let i=0;i<sp.length;i++)
        {
            html+=`<div id=user${i+1}>
                <button type="submit" value="${sp[i]}" onclick="chatview(${i},${userId})">${sp[i]}</button>
                </div>
                <div id="lbreaker"></div>`
        }
        document.getElementById("chatcontainer").innerHTML=html;
        let message=document.getElementById("message").textContent;
        document.getElementById("send").value=message;
        let checkempty=document.getElementById("username").textContent
        if(!checkempty)
        {
            document.getElementById("checkempty").style.display="none"
        }
        else{
            chat();
            document.getElementById("send").focus()
        
        }
    
        
    }
    function chatview(i,userId){
        document.getElementById("view").action = `/chatview/${userId}/${sp[i]}`;
    }
    function chat()
        {   
            let chat=document.getElementById('chats').textContent;
            let chats=JSON.parse(chat)
            let html=""
            for(let i=0;i<chats.length;i++)
            {
                html+=`<div id='${chats[i].SentBy}'>${chats[i].data}</div>`
            }
            document.getElementById("chatdata").innerHTML=html;
        }
    function sender()
        {
            let insert=document.getElementById("send").value
            let username=document.getElementById('username').textContent;
            let userId=document.getElementById('userId').textContent;
            
            if(insert.trim())
            {
                console.log("hello")
                document.getElementById("view").action=`/insert/${userId}/${username}/${insert.trim()}`
                document.getElementById("send").value="";
                document.getElementById("view").submit();
            }
            
        }
        function reload()
        {
            console.log("reloaded")
            let msg=document.getElementById("send").value
            if(!msg)
            {
                msg="null"
            }
            let username=document.getElementById('username').textContent;
            if(!username)
            {
                username="null"
            }
            let userId=document.getElementById('userId').textContent;
            document.getElementById("view").action=`/reload/${userId}/${username}/${msg}`
            document.getElementById("send").value="";
            document.getElementById("view").submit();    
        }
        
        setInterval(reload,5000);
</script>
</html>